<a href="https://colab.research.google.com/github/baeksumin/k-project/blob/main/datacollection_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
1. 저장된 fullcode 목록을 불러와서 종목별 데이터 수집
2. pickle 저장

(프로젝트를 시작할 때 1번만 실행)
'''

In [1]:
import json
import requests
import pandas as pd
from io import BytesIO
from datetime import datetime 
from datetime import timedelta
import pickle
from google.colab import drive

drive.mount('/content/drive')
output_path = '/content/drive/MyDrive/k-project/output/'
data_path = '/content/drive/MyDrive/[Shared]K-Project/'
# pickle 경로를 설정하기 위해

Mounted at /content/drive

In [2]:
# 한국시간 설정
import pytz

KST = pytz.timezone('Asia/Seoul')
today = str(datetime.now(KST).strftime("%Y%m%d"))
print(today)

20211001

In [3]:
## Load pickle - fullcode 목록
with open(data_path + 'full_code.pkl',"rb") as f: 
    fullcode = pickle.load(f)
fullcode

         full_code short_code codeName marketEngName status
0     KR7060310000     060310       3S        KOSDAQ     상장
1     KR7095570008     095570   AJ네트웍스         KOSPI     상장
2     KR7006840003     006840    AK홀딩스         KOSPI     상장
3     KR7054620000     054620   APS홀딩스        KOSDAQ     상장
4     KR7265520007     265520    AP시스템        KOSDAQ     상장
...            ...        ...      ...           ...    ...
2580  KR7000542001     000547  흥국화재2우B         KOSPI     상장
2581  KR7000541003     000545    흥국화재우         KOSPI     상장
2582  KR7003280005     003280     흥아해운         KOSPI     상장
2583  KR7037440005     037440       희림        KOSDAQ     상장
2584  KR7238490007     238490       힘스        KOSDAQ     상장

[2585 rows x 5 columns]

In [8]:
#상장폐지 상태 제외시키기.
fullcode_filter = fullcode[fullcode['status'] != '상장폐지']
fullcode_filter

         full_code short_code codeName marketEngName status
0     KR7060310000     060310       3S        KOSDAQ     상장
1     KR7095570008     095570   AJ네트웍스         KOSPI     상장
2     KR7006840003     006840    AK홀딩스         KOSPI     상장
3     KR7054620000     054620   APS홀딩스        KOSDAQ     상장
4     KR7265520007     265520    AP시스템        KOSDAQ     상장
...            ...        ...      ...           ...    ...
2580  KR7000542001     000547  흥국화재2우B         KOSPI     상장
2581  KR7000541003     000545    흥국화재우         KOSPI     상장
2582  KR7003280005     003280     흥아해운         KOSPI     상장
2583  KR7037440005     037440       희림        KOSDAQ     상장
2584  KR7238490007     238490       힘스        KOSDAQ     상장

[2584 rows x 5 columns]

In [9]:
fullcode_list = list(fullcode_filter['full_code'])
print(fullcode_list[:10])
# fullcode열을 list로 변경 후 확인

['KR7060310000', 'KR7095570008', 'KR7006840003', 'KR7054620000', 'KR7265520007', 'KR7211270004', 'KR7027410000', 'KR7282330000', 'KR7138930003', 'KR7001460005']

In [ ]:
'''
종가 시가 저가 고가 시가총액 EPS PER BPS PBR 주당배당금 배당수익률
(* 필요한 컬럼)

df2
 0   TRD_DD : 거래일자 *
 1   ISU_CD : 종목코드 *      
 2   ISU_NM : 종목명 *      
 3   MKT_NM : 시장코드 (kospi)      
 4   SECUGRP_NM : 증권구분 (주권)    
 5   TDD_CLSPRC : 종가 *  
 6   FLUC_TP_CD    
 7   CMPPRVDD_PRC : 대비 
 8   FLUC_RT : 등락률      
 9   TDD_OPNPRC : 시가 *  
 10  TDD_HGPRC  : 고가 *  
 11  TDD_LWPRC  : 저가 *  
 12  ACC_TRDVOL : 거래량   
 13  ACC_TRDVAL : 거래대금   
 14  MKTCAP : 시가총액 *

df3
 0   TRD_DD : 거래일자        
 1   TDD_CLSPRC : 종가    
 2   FLUC_TP_CD     
 3   CMPPREVDD_PRC : 대비 
 4   FLUC_RT : 등락률      
 5   EPS *           
 6   PER *           
 7   BPS *           
 8   PBR *           
 9   DPS : 주당배당금 *          
 10  DVD_YLD : 배당수익률 *
 '''

In [ ]:
url2 = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'
headers = {'User-Agent': 'Chrome/78.0.3904.87 Safari/537.36',}

strtDd = '19000101'
endDd = today

for i in fullcode_list[:2]: # 테스트를 위해 2개만 실행 (두 종목만 출력됨)
    data2 = { 'bld': 'dbms/MDC/STAT/issue/MDCSTAT23902',
    'isuCd': i,
    'isuCd2': '',
    'strtDd': strtDd,
    'endDd': endDd,
    'share': '1',
    'money': '1',
    'csvxls_isNo': 'false',}

    r2 = requests.post(url2, data2, headers)
    j2 = json.loads(r2.text)
    df2=pd.DataFrame(j2['output'])
    # print(df2)
    # print('------------------------------------------------')

    data3 = { 'bld': 'dbms/MDC/STAT/standard/MDCSTAT03502',
    'isuCd': i,
    'isuCd2': i,
    'strtDd': strtDd,
    'endDd': endDd,
    'searchType': '2',
    'mktId': 'ALL',
    'csvxls_isNo': 'false',}

    r2 = requests.post(url2, data3, headers)
    j2 = json.loads(r2.text)
    df3=pd.DataFrame(j2['output'])
    # print(df3)
    # print('------------------------------------------------')

    df2_ = df2[['TRD_DD', 'ISU_CD', 'ISU_NM', 'TDD_CLSPRC', 'TDD_OPNPRC', 'TDD_HGPRC', 'TDD_LWPRC', 'MKTCAP']]
    df3_ = df3[['TRD_DD', 'EPS', 'PER', 'BPS', 'PBR', 'DPS', 'DVD_YLD']]

    result = pd.merge(df2_, df3_)
    print(result)
    print('------------------------------------------------')

          TRD_DD  ISU_CD  ISU_NM TDD_CLSPRC TDD_OPNPRC TDD_HGPRC TDD_LWPRC  \
0     2021/10/01  060310      3S      3,960      4,080     4,080     3,925
1     2021/09/30  060310      3S      4,105      4,225     4,270     4,010
2     2021/09/29  060310      3S      4,160      3,865     4,180     3,805
3     2021/09/28  060310      3S      3,985      4,070     4,140     3,950
4     2021/09/27  060310      3S      4,115      3,840     4,140     3,750
...          ...     ...     ...        ...        ...       ...       ...
4804  2002/04/29  060310  삼에스코리아      6,780      6,800     7,200     6,780
4805  2002/04/26  060310  삼에스코리아      7,700      8,550     8,750     7,700
4806  2002/04/25  060310  삼에스코리아      8,750      9,530     9,530     7,490
4807  2002/04/24  060310  삼에스코리아      8,510      8,370     8,510     7,750
4808  2002/04/23  060310  삼에스코리아      7,600      7,600     7,600     7,600

               MKTCAP  EPS     PER  BPS   PBR DPS DVD_YLD
0     183,235,191,480   16  247.50  792  5.00   0    0.00
1     189,944,560,865   16  256.56  792  5.18   0    0.00
2     192,489,494,080   16  260.00  792  5.25   0    0.00
3     184,391,979,305   16  249.06  792  5.03   0    0.00
4     190,407,275,995   16  257.19  792  5.20   0    0.00
...               ...  ...     ...  ...   ...  ..     ...
4804   16,272,000,000  617   10.99    -     -   -       -
4805   18,480,000,000  617   12.48    -     -   -       -
4806   21,000,000,000  617   14.18    -     -   -       -
4807   20,424,000,000  617   13.79    -     -   -       -
4808   18,240,000,000  617   12.32    -     -   -       -

[4809 rows x 14 columns]
------------------------------------------------
          TRD_DD  ISU_CD  ISU_NM TDD_CLSPRC TDD_OPNPRC TDD_HGPRC TDD_LWPRC  \
0     2021/10/01  095570  AJ네트웍스      5,770      5,830     5,890     5,680
1     2021/09/30  095570  AJ네트웍스      5,840      5,850     5,890     5,810
2     2021/09/29  095570  AJ네트웍스      5,850      5,720     5,900     5,720
3     2021/09/28  095570  AJ네트웍스      5,900      5,890     5,990     5,880
4     2021/09/27  095570  AJ네트웍스      5,980      5,910     5,980     5,850
...          ...     ...     ...        ...        ...       ...       ...
1498  2015/08/27  095570  AJ네트웍스     37,850     36,200    40,300    34,800
1499  2015/08/26  095570  AJ네트웍스     35,450     31,300    38,800    31,300
1500  2015/08/25  095570  AJ네트웍스     31,100     33,050    33,650    30,950
1501  2015/08/24  095570  AJ네트웍스     32,400     33,500    34,700    31,200
1502  2015/08/21  095570  AJ네트웍스     35,500     30,900    36,500    28,000

               MKTCAP    EPS    PER     BPS   PBR  DPS DVD_YLD
0     270,164,642,150      -      -   6,089  0.95  210    3.64
1     273,442,202,800      -      -   6,089  0.96  210    3.60
2     273,910,425,750      -      -   6,089  0.96  210    3.59
3     276,251,540,500      -      -   6,089  0.97  210    3.56
4     279,997,324,100      -      -   6,089  0.98  210    3.51
...               ...    ...    ...     ...   ...  ...     ...
1498  354,444,773,150  2,732  13.85  23,715  1.60    0    0.00
1499  331,970,071,550  2,732  12.98  23,715  1.49    0    0.00
1500  291,234,674,900  2,732  11.38  23,715  1.31    0    0.00
1501  303,408,471,600  2,732  11.86  23,715  1.37    0    0.00
1502  332,438,294,500  2,732  12.99  23,715  1.50    0    0.00

[1503 rows x 14 columns]
------------------------------------------------

In [ ]:
## Save pickle
# with open(output_path + "df2.pickle","wb") as fw:
#     pickle.dump(df2, fw)