<a href="https://colab.research.google.com/github/baeksumin/k-project/blob/main/datacollection_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
1. 저장된 fullcode 목록을 불러와서 종목별 데이터 수집
2. pickle 저장

(프로젝트를 시작할 때 1번만 실행)
'''

In [15]:
import json
import requests
import pandas as pd
from io import BytesIO
from datetime import datetime 
from datetime import timedelta
import pickle
from google.colab import drive

drive.mount('/content/drive')
output_path = '/content/drive/MyDrive/k-project/output/'
data_path = '/content/drive/MyDrive/[Shared]K-Project/'
# pickle 경로를 설정하기 위해

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# 한국시간 설정
import pytz

KST = pytz.timezone('Asia/Seoul')
today = str(datetime.now(KST).strftime("%Y%m%d"))
print(today)

20211001

In [22]:
## Load pickle - fullcode 목록
with open(data_path + 'full_code.pkl',"rb") as f: 
    fullcode = pickle.load(f)
fullcode

         full_code short_code codeName marketEngName status
0     KR7060310000     060310       3S        KOSDAQ     상장
1     KR7095570008     095570   AJ네트웍스         KOSPI     상장
2     KR7006840003     006840    AK홀딩스         KOSPI     상장
3     KR7054620000     054620   APS홀딩스        KOSDAQ     상장
4     KR7265520007     265520    AP시스템        KOSDAQ     상장
...            ...        ...      ...           ...    ...
2580  KR7000542001     000547  흥국화재2우B         KOSPI     상장
2581  KR7000541003     000545    흥국화재우         KOSPI     상장
2582  KR7003280005     003280     흥아해운         KOSPI     상장
2583  KR7037440005     037440       희림        KOSDAQ     상장
2584  KR7238490007     238490       힘스        KOSDAQ     상장

[2585 rows x 5 columns]

In [26]:
fullcode_list = list(fullcode['full_code'])
print(fullcode_list[:10])
# fullcode열을 list로 변경 후 확인

['KR7060310000', 'KR7095570008', 'KR7006840003', 'KR7054620000', 'KR7265520007', 'KR7211270004', 'KR7027410000', 'KR7282330000', 'KR7138930003', 'KR7001460005']

In [14]:
headers = {'User-Agent': 'Chrome/93.0.4577.63'}

strtDd = '19000101'
endDd = today

for i in fullcode_list[:3]: # 테스트를 위해 3개만 실행
    data2 = { 'bld': 'dbms/MDC/STAT/issue/MDCSTAT23902',
    'isuCd': i,
    'isuCd2': '',
    'strtDd': strtDd,
    'endDd': endDd,
    'share': '1',
    'money': '1',
    'csvxls_isNo': 'false',}

    url2 = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'

    r2 = requests.post(url2, data2, headers)
    # print(r2)
    j2 = json.loads(r2.text)
    df2 = pd.DataFrame(j2['output'])
    print(df2)
    print('------------------------------------------------------------------')

          TRD_DD  ISU_CD  ISU_NM  ... ACC_TRDVOL     ACC_TRDVAL           MKTCAP
0     2021/10/01  060310      3S  ...    345,587  1,376,085,525  183,003,833,915
1     2021/09/30  060310      3S  ...    767,757  3,155,491,355  189,944,560,865
2     2021/09/29  060310      3S  ...  1,190,538  4,863,389,585  192,489,494,080
3     2021/09/28  060310      3S  ...    539,826  2,165,498,515  184,391,979,305
4     2021/09/27  060310      3S  ...  1,911,019  7,709,403,420  190,407,275,995
...          ...     ...     ...  ...        ...            ...              ...
4804  2002/04/29  060310  삼에스코리아  ...    139,388    951,796,930   16,272,000,000
4805  2002/04/26  060310  삼에스코리아  ...    176,111  1,405,023,020   18,480,000,000
4806  2002/04/25  060310  삼에스코리아  ...    768,702  6,815,533,300   21,000,000,000
4807  2002/04/24  060310  삼에스코리아  ...    140,723  1,169,025,100   20,424,000,000
4808  2002/04/23  060310  삼에스코리아  ...    109,024    828,582,400   18,240,000,000

[4809 rows x 15 columns]
------------------------------------------------------------------
          TRD_DD  ISU_CD  ISU_NM  ... ACC_TRDVOL      ACC_TRDVAL           MKTCAP
0     2021/10/01  095570  AJ네트웍스  ...     78,982     453,394,960  268,759,973,300
1     2021/09/30  095570  AJ네트웍스  ...     49,548     289,237,540  273,442,202,800
2     2021/09/29  095570  AJ네트웍스  ...     92,877     538,632,680  273,910,425,750
3     2021/09/28  095570  AJ네트웍스  ...     79,138     467,706,550  276,251,540,500
4     2021/09/27  095570  AJ네트웍스  ...     85,036     502,661,120  279,997,324,100
...          ...     ...     ...  ...        ...             ...              ...
1498  2015/08/27  095570  AJ네트웍스  ...    499,913  18,764,860,300  354,444,773,150
1499  2015/08/26  095570  AJ네트웍스  ...    703,721  25,144,972,800  331,970,071,550
1500  2015/08/25  095570  AJ네트웍스  ...    242,730   7,808,534,250  291,234,674,900
1501  2015/08/24  095570  AJ네트웍스  ...    392,831  12,926,256,800  303,408,471,600
1502  2015/08/21  095570  AJ네트웍스  ...  1,994,022  64,841,739,950  332,438,294,500

[1503 rows x 15 columns]
------------------------------------------------------------------
          TRD_DD  ISU_CD ISU_NM  ... ACC_TRDVOL      ACC_TRDVAL           MKTCAP
0     2021/10/01  006840  AK홀딩스  ...     18,939     498,928,000  345,761,342,100
1     2021/09/30  006840  AK홀딩스  ...     11,868     320,974,850  357,021,768,950
2     2021/09/29  006840  AK홀딩스  ...     11,045     293,945,700  353,709,878,700
3     2021/09/28  006840  AK홀딩스  ...     19,065     513,768,600  358,346,525,050
4     2021/09/27  006840  AK홀딩스  ...     21,653     596,424,100  361,658,415,300
...          ...     ...    ...  ...        ...             ...              ...
5463  1999/08/17  006840   애경유화  ...     74,700   1,834,637,000  135,000,000,000
5464  1999/08/16  006840   애경유화  ...     88,610   2,332,215,500  153,000,000,000
5465  1999/08/13  006840   애경유화  ...    237,290   6,190,816,500  162,000,000,000
5466  1999/08/12  006840   애경유화  ...    271,400   7,953,901,500  165,900,000,000
5467  1999/08/11  006840   애경유화  ...    444,090  15,051,525,500  195,000,000,000

[5468 rows x 15 columns]
------------------------------------------------------------------

In [ ]:
## Save pickle
with open(output_path + "df2.pickle","wb") as fw:
    pickle.dump(df2, fw)