<a href="https://colab.research.google.com/github/baeksumin/k-project/blob/main/datacollection_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
1. 웹에서 불러온 데이터로 df 생성
2. pickle 저장

(프로젝트를 시작할 때 1번만 실행)
'''

In [ ]:
import json
import requests
import pandas as pd
from io import BytesIO
from datetime import datetime 
from datetime import timedelta
import pickle
from google.colab import drive

drive.mount('/content/drive')
res_path = '/content/drive/MyDrive/k-project/output/'
# pickle 경로를 설정하기 위해

Mounted at /content/drive

In [ ]:
# 한국시간 설정
import pytz

KST = pytz.timezone('Asia/Seoul')
today = str(datetime.now(KST).strftime("%Y%m%d"))
print(today)

20210930

In [ ]:
# fullcode를 매일 업데이트?

headers = {'User-Agent': 'Chrome/93.0.4577.63'}

data = {
    'mktsel': 'ALL',
    'typeNo': '0',
    'searchText':'',
    'bld': 'dbms/comm/finder/finder_stkisu'
}

url = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'

r = requests.post(url, data, headers = headers)
j = json.loads(r.text)

df = pd.json_normalize(j['block1'])
print(len(df))
# print(df.info())
# print(df.iloc[1]['full_code'])
df

2584

         full_code short_code codeName  ... marketEngName ord1 ord2
0     KR7060310000     060310       3S  ...        KOSDAQ        16
1     KR7095570008     095570   AJ네트웍스  ...         KOSPI        16
2     KR7006840003     006840    AK홀딩스  ...         KOSPI        16
3     KR7054620000     054620   APS홀딩스  ...        KOSDAQ        16
4     KR7265520007     265520    AP시스템  ...        KOSDAQ        16
...            ...        ...      ...  ...           ...  ...  ...
2579  KR7000542001     000547  흥국화재2우B  ...         KOSPI        16
2580  KR7000541003     000545    흥국화재우  ...         KOSPI        16
2581  KR7003280005     003280     흥아해운  ...         KOSPI        16
2582  KR7037440005     037440       희림  ...        KOSDAQ        16
2583  KR7238490007     238490       힘스  ...        KOSDAQ        16

[2584 rows x 8 columns]

In [ ]:
df = df.set_index('short_code')
full_code = df.loc['005930']['full_code']
# full_code = 'KR7005930003'

In [ ]:
strtDd = '19000101'
endDd = today

data2 = { 'bld': 'dbms/MDC/STAT/issue/MDCSTAT23902',
  'isuCd': full_code,
  'isuCd2': '',
  'strtDd': strtDd,
  'endDd': endDd,
  'share': '1',
  'money': '1',
  'csvxls_isNo': 'false',}

url2 = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'

r2 = requests.post(url2, data2, headers)
# print(r2)
j2 = json.loads(r2.text)
df2 = pd.DataFrame(j2['output'])
df2

          TRD_DD  ISU_CD  ...         ACC_TRDVAL               MKTCAP
0     2021/09/30  005930  ...    246,120,821,400  442,957,865,210,000
1     2021/09/29  005930  ...  1,783,148,126,490  442,360,886,955,000
2     2021/09/28  005930  ...  1,182,788,461,030  455,494,408,565,000
3     2021/09/27  005930  ...    906,520,162,508  463,852,104,135,000
4     2021/09/24  005930  ...    947,458,981,757  461,464,191,115,000
...          ...     ...  ...                ...                  ...
6687  1995/05/08  005930  ...     11,127,115,000    6,578,606,045,000
6688  1995/05/06  005930  ...      5,810,535,000    6,632,974,690,000
6689  1995/05/04  005930  ...     21,609,210,000    6,660,159,012,500
6690  1995/05/03  005930  ...     47,649,710,000    6,714,527,657,500
6691  1995/05/02  005930  ...     16,676,735,000    6,497,053,077,500

[6692 rows x 15 columns]

In [ ]:
# 데이터프레임 전체 열 출력
pd.set_option('display.max_columns', None)

## Save pickle
with open(res_path + "df2.pickle","wb") as fw:
    pickle.dump(df2, fw)