<a href="https://colab.research.google.com/github/baeksumin/k-project/blob/main/fileopen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import json
import requests
import pandas as pd
from io import BytesIO
from datetime import datetime

In [ ]:
import pandas as pd
import json
from pandas import json_normalize

with open('/content/drive/MyDrive/k-project/output/initial_data.json',"r") as json_file:
  json_data = json.load(json_file)

json_data

In [17]:
df = pd.read_json(json_data['KR7060310000'], orient ='index') # 첫번째 키값으로 데이터프레임 변환
print(df.transpose())

          TRD_DD  ISU_CD  ISU_NM TDD_CLSPRC  ...  BPS   PBR DPS DVD_YLD
0     2021/10/06  060310      3S      3,670  ...  792  4.63   0    0.00
1     2021/10/05  060310      3S      3,870  ...  792  4.89   0    0.00
2     2021/10/01  060310      3S      3,960  ...  792  5.00   0    0.00
3     2021/09/30  060310      3S      4,105  ...  792  5.18   0    0.00
4     2021/09/29  060310      3S      4,160  ...  792  5.25   0    0.00
...          ...     ...     ...        ...  ...  ...   ...  ..     ...
4806  2002/04/29  060310  삼에스코리아      6,780  ...    -     -   -       -
4807  2002/04/26  060310  삼에스코리아      7,700  ...    -     -   -       -
4808  2002/04/25  060310  삼에스코리아      8,750  ...    -     -   -       -
4809  2002/04/24  060310  삼에스코리아      8,510  ...    -     -   -       -
4810  2002/04/23  060310  삼에스코리아      7,600  ...    -     -   -       -

[4811 rows x 14 columns]