<a href="https://colab.research.google.com/github/baeksumin/k-project/blob/main/test_copy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1-1
import json
import requests
import pandas as pd
from io import BytesIO
from datetime import datetime

headers={'User-Agent': 'Chrome/93.0.4577.82 Safari/537.36',}

data={'mktsel': 'ALL',
      'typeNO': '0',
      'searchText':'',
      'bld':'dbms/comm/finder/finder_stkisu',
    
}

url="http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

r= requests.post(url, data, headers=headers)
j= json.loads(r.text)

df =pd.json_normalize(j['block1'])
print(len(df))
print(df.iloc[1]['full_code'])

2585
KR7095570008

In [ ]:
import pandas as pd
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
df

In [ ]:
import pickle
my_list = df
 
## Save pickle
with open("fullcode.pickle","wb") as fw:
    pickle.dump(my_list, fw)

In [ ]:
## Load pickle
with open("fullcode.pickle","rb") as fr:
    data = pickle.load(fr)
print(data)

               full_code codeName marketCode marketName marketEngName ord1 ord2
short_code
060310      KR7060310000       3S        KSQ        코스닥        KOSDAQ        16
095570      KR7095570008   AJ네트웍스        STK       유가증권         KOSPI        16
006840      KR7006840003    AK홀딩스        STK       유가증권         KOSPI        16
054620      KR7054620000   APS홀딩스        KSQ        코스닥        KOSDAQ        16
265520      KR7265520007    AP시스템        KSQ        코스닥        KOSDAQ        16
...                  ...      ...        ...        ...           ...  ...  ...
000547      KR7000542001  흥국화재2우B        STK       유가증권         KOSPI        16
000545      KR7000541003    흥국화재우        STK       유가증권         KOSPI        16
003280      KR7003280005     흥아해운        STK       유가증권         KOSPI        16
037440      KR7037440005       희림        KSQ        코스닥        KOSDAQ        16
238490      KR7238490007       힘스        KSQ        코스닥        KOSDAQ        16

[2584 rows x 7 columns]

In [ ]:
#
#
#

In [ ]:
#2-1
df=df.set_index('short_code')

full_code = df.loc['005930']['full_code']

strtDd = '19000101'
endDd = '20210113'

data2 = {'bld': 'dbms/MDC/STAT/standard/MDCSTAT03501',
'searchType': '1',
'mktId': 'ALL',
'trdDd': '20210928',
'tboxisuCd_finder_stkisu0_0': '005930/삼성전자',
'isuCd': 'KR7005930003',
'isuCd2': 'KR7005930003',
'codeNmisuCd_finder_stkisu0_0': '삼성전자',
'param1isuCd_finder_stkisu0_0': 'ALL',
'strtDd': '20210917',
'endDd': '20210928',
'csvxls_isNo': 'false',}
url2 = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

r2 = requests.post(url2, data2, headers)
j2 = json.loads(r2.text)
df3= pd.DataFrame(j2['output'])
df3

     ISU_SRT_CD ISU_ABBRV                  ISU_ABBRV_STR  ...   PBR  DPS DVD_YLD
0        060310       3S        3S <em class ="up"></em>  ...  5.03    0    0.00
1        095570   AJ네트웍스    AJ네트웍스 <em class ="up"></em>  ...  0.97  210    3.56
2        006840    AK홀딩스     AK홀딩스 <em class ="up"></em>  ...  0.54  400    1.48
3        054620   APS홀딩스    APS홀딩스 <em class ="up"></em>  ...  1.93    0    0.00
4        265520    AP시스템     AP시스템 <em class ="up"></em>  ...  2.88  120    0.46
...         ...       ...                            ...  ...   ...  ...     ...
2401     000547  흥국화재2우B   흥국화재2우B <em class ="up"></em>  ...     -    0    0.00
2402     000545    흥국화재우     흥국화재우 <em class ="up"></em>  ...     -    0    0.00
2403     003280     흥아해운      흥아해운 <em class ="up"></em>  ...     -    0    0.00
2404     037440       희림        희림 <em class ="up"></em>  ...  1.70  150    2.19
2405     238490       힘스        힘스 <em class ="up"></em>  ...  1.32  150    1.65

[2406 rows x 13 columns]

In [ ]:
#2-2
df=df.set_index('short_code')

full_code = df.loc['005930']['full_code']

strtDd = '19000101'
endDd = '20210113'

data2 = {'bld': 'dbms/MDC/STAT/standard/MDCSTAT03502',
'searchType': '2',
'mktId': 'ALL',
'trdDd': '20210928',
'tboxisuCd_finder_stkisu0_0': '005930/삼성전자',
'isuCd': 'KR7005930003',
'isuCd2': 'KR7005930003',
'codeNmisuCd_finder_stkisu0_0': '삼성전자',
'param1isuCd_finder_stkisu0_0': 'ALL',
'strtDd': '20210917',
'endDd': '20210929',
'csvxls_isNo': 'false',}
url2 = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

r2 = requests.post(url2, data2, headers)
j2 = json.loads(r2.text)
df3= pd.DataFrame(j2['output'])
df3

       TRD_DD TDD_CLSPRC FLUC_TP_CD CMPPREVDD_PRC  ...     BPS   PBR    DPS DVD_YLD
0  2021/09/29     74,100          2        -2,200  ...  39,406  1.88  2,994    4.04
1  2021/09/28     76,300          2        -1,400  ...  39,406  1.94  2,994    3.92
2  2021/09/27     77,700          1           400  ...  39,406  1.97  2,994    3.85
3  2021/09/24     77,300          2          -100  ...  39,406  1.96  2,994    3.87
4  2021/09/23     77,400          1           200  ...  39,406  1.96  2,994    3.87
5  2021/09/17     77,200          1         1,100  ...  39,406  1.96  2,994    3.88

[6 rows x 11 columns]

In [ ]:
import pickle
my_list = df3
 
## Save pickle
with open("df3searchtype2.pickle","wb") as fw:
    pickle.dump(my_list, fw)

In [ ]:
## Load pickle
with open("df3searchtype2.pickle","rb") as fr:
    data = pickle.load(fr)
print(data)

       TRD_DD TDD_CLSPRC FLUC_TP_CD CMPPREVDD_PRC  ...     BPS   PBR    DPS DVD_YLD
0  2021/09/28     76,300          2        -1,400  ...  39,406  1.94  2,994    3.92
1  2021/09/27     77,700          1           400  ...  39,406  1.97  2,994    3.85
2  2021/09/24     77,300          2          -100  ...  39,406  1.96  2,994    3.87
3  2021/09/23     77,400          1           200  ...  39,406  1.96  2,994    3.87
4  2021/09/17     77,200          1         1,100  ...  39,406  1.96  2,994    3.88

[5 rows x 11 columns]

In [ ]:
#2-2-1
df=df.set_index('short_code')

full_code = df.loc['005930']['full_code']

strtDd = '19000101'
endDd = '20210113'

data2 = {'bld': 'dbms/MDC/STAT/standard/MDCSTAT03502',
'searchType': '2',
'mktId': 'ALL',
'trdDd': '20210928',
'tboxisuCd_finder_stkisu0_0': '005930/삼성전자',
'isuCd': 'KR7005930003',
'isuCd2': 'KR7005930003',
'codeNmisuCd_finder_stkisu0_0': '삼성전자',
'param1isuCd_finder_stkisu0_0': 'ALL',
'strtDd': '20210917',
'endDd': '20210929',
'csvxls_isNo': 'false',}
url2 = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

r2 = requests.post(url2, data2, headers)
j2 = json.loads(r2.text)
df3= pd.DataFrame(j2['output'])
df3

df3_sample=df3.loc[[0],:]   #첫번째 행 뽑아냄
df3_sample.head()

       TRD_DD TDD_CLSPRC FLUC_TP_CD CMPPREVDD_PRC  ...     BPS   PBR    DPS DVD_YLD
0  2021/09/29     74,000          2        -2,300  ...  39,406  1.88  2,994    4.05

[1 rows x 11 columns]

In [ ]:
result1= pd.concat([df3_sample,df3],ignore_index=True)
print(result1)

       TRD_DD TDD_CLSPRC FLUC_TP_CD CMPPREVDD_PRC  ...     BPS   PBR    DPS DVD_YLD
0  2021/09/29     74,000          2        -2,300  ...  39,406  1.88  2,994    4.05
1  2021/09/29     74,000          2        -2,300  ...  39,406  1.88  2,994    4.05
2  2021/09/28     76,300          2        -1,400  ...  39,406  1.94  2,994    3.92
3  2021/09/27     77,700          1           400  ...  39,406  1.97  2,994    3.85
4  2021/09/24     77,300          2          -100  ...  39,406  1.96  2,994    3.87
5  2021/09/23     77,400          1           200  ...  39,406  1.96  2,994    3.87
6  2021/09/17     77,200          1         1,100  ...  39,406  1.96  2,994    3.88

[7 rows x 11 columns]

In [ ]:
import pickle        #피클로 저장
my_list = result1
 
## Save pickle
with open("df3searchtype2.pickle","wb") as fw:
    pickle.dump(my_list, fw)

In [ ]:
## Load pickle
with open("df3searchtype2.pickle","rb") as fr:
    data = pickle.load(fr)
print(data)

       TRD_DD TDD_CLSPRC FLUC_TP_CD CMPPREVDD_PRC FLUC_RT    EPS    PER  \
0  2021/09/29     74,000          2        -2,300   -3.01  3,841  19.27
1  2021/09/29     74,000          2        -2,300   -3.01  3,841  19.27
2  2021/09/28     76,300          2        -1,400   -1.80  3,841  19.86
3  2021/09/27     77,700          1           400    0.52  3,841  20.23
4  2021/09/24     77,300          2          -100   -0.13  3,841  20.12
5  2021/09/23     77,400          1           200    0.26  3,841  20.15
6  2021/09/17     77,200          1         1,100    1.45  3,841  20.10

      BPS   PBR    DPS DVD_YLD
0  39,406  1.88  2,994    4.05
1  39,406  1.88  2,994    4.05
2  39,406  1.94  2,994    3.92
3  39,406  1.97  2,994    3.85
4  39,406  1.96  2,994    3.87
5  39,406  1.96  2,994    3.87
6  39,406  1.96  2,994    3.88

In [ ]:
#
#
#

In [ ]:
#3-1
full_code = ['KR7005930003']
strtDd= '19000101'
endDd= '20210113'

data2={'bld': 'dbms/MDC/STAT/standard/MDCSTAT01701',
'tboxisuCd_finder_stkisu0_0': '005930/삼성전자',
'isuCd': 'KR7005930003',
'isuCd2': 'KR7005930003',
'codeNmisuCd_finder_stkisu0_0': '삼성전자',
'param1isuCd_finder_stkisu0_0': 'ALL',
'strtDd': '20210917',
'endDd': '20210929',
'share': '1',
'money': '1',
'csvxls_isNo': 'false',}

url2= 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'

r2=requests.post(url2,data2,headers)
j2=json.loads(r2.text)
df2=pd.DataFrame(j2['output'])
df2

,TRD_DD,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS
0,2021/09/29,"74,000",2,"-2,300",-3.01,"74,800","75,300","73,800","22,364,597","1,662,530,470,400","441,763,908,700,000","5,969,782,550"
1,2021/09/28,"76,300",2,"-1,400",-1.80,"77,700","77,800","76,200","15,406,382","1,182,788,461,030","455,494,408,565,000","5,969,782,550"
2,2021/09/27,"77,700",1,400,0.52,"77,300","77,700","77,000","11,699,798","906,520,162,508","463,852,104,135,000","5,969,782,550"
3,2021/09/24,"77,300",2,-100,-0.13,"77,600","77,700","77,100","12,247,274","947,458,981,757","461,464,191,115,000","5,969,782,550"
4,2021/09/23,"77,400",1,200,0.26,"77,500","77,600","76,800","17,055,590","1,318,209,157,168","462,061,169,370,000","5,969,782,550"
5,2021/09/17,"77,200",1,"1,100",1.45,"76,300","77,200","75,900","16,289,502","1,250,677,861,383","460,867,212,860,000","5,969,782,550"

In [ ]:
import pickle
my_list = df2
 
## Save pickle
with open("df2.pickle","wb") as fw:
    pickle.dump(my_list, fw)

In [ ]:
## Load pickle
with open("df2.pickle","rb") as fr:
    data = pickle.load(fr)
print(data)

In [ ]:
#3-1-1
#full_code = df.loc['005930']['full_code']

full_code = ['KR7005930003']

strtDd= '19000101'
endDd= '20210113'

data2={'bld': 'dbms/MDC/STAT/standard/MDCSTAT01701',
'tboxisuCd_finder_stkisu0_0': '005930/삼성전자',
'isuCd': 'KR7005930003',
'isuCd2': 'KR7005930003',
'codeNmisuCd_finder_stkisu0_0': '삼성전자',
'param1isuCd_finder_stkisu0_0': 'ALL',
'strtDd': '20210917',
'endDd': '20210929',
'share': '1',
'money': '1',
'csvxls_isNo': 'false',}

url2= 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'

r2=requests.post(url2,data2,headers)
j2=json.loads(r2.text)
df2=pd.DataFrame(j2['output'])

df2_sample=df2.loc[[0],:]
df2_sample.head()

,TRD_DD,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS
0,2021/09/29,"74,100",2,"-2,200",-2.88,"74,800","75,300","73,800","22,895,449","1,701,842,913,100","441,763,908,700,000","5,969,782,550"

In [ ]:
result= pd.concat([df2_sample,df2],ignore_index=True)
print(result)

       TRD_DD TDD_CLSPRC FLUC_TP_CD CMPPREVDD_PRC FLUC_RT TDD_OPNPRC  \
0  2021/09/29     74,100          2        -2,200   -2.88     74,800
1  2021/09/29     74,100          2        -2,200   -2.88     74,800
2  2021/09/28     76,300          2        -1,400   -1.80     77,700
3  2021/09/27     77,700          1           400    0.52     77,300
4  2021/09/24     77,300          2          -100   -0.13     77,600
5  2021/09/23     77,400          1           200    0.26     77,500
6  2021/09/17     77,200          1         1,100    1.45     76,300

  TDD_HGPRC TDD_LWPRC  ACC_TRDVOL         ACC_TRDVAL               MKTCAP  \
0    75,300    73,800  22,895,449  1,701,842,913,100  441,763,908,700,000
1    75,300    73,800  22,895,449  1,701,842,913,100  441,763,908,700,000
2    77,800    76,200  15,406,382  1,182,788,461,030  455,494,408,565,000
3    77,700    77,000  11,699,798    906,520,162,508  463,852,104,135,000
4    77,700    77,100  12,247,274    947,458,981,757  461,464,191,115,000
5    77,600    76,800  17,055,590  1,318,209,157,168  462,061,169,370,000
6    77,200    75,900  16,289,502  1,250,677,861,383  460,867,212,860,000

       LIST_SHRS
0  5,969,782,550
1  5,969,782,550
2  5,969,782,550
3  5,969,782,550
4  5,969,782,550
5  5,969,782,550
6  5,969,782,550

In [ ]:
import pickle        #피클로 저장
my_list = result
 
## Save pickle
with open("df2.pickle","wb") as fw:
    pickle.dump(my_list, fw)

In [ ]:
## Load pickle
with open("df2.pickle","rb") as fr:
    data = pickle.load(fr)
print(data)

       TRD_DD TDD_CLSPRC FLUC_TP_CD CMPPREVDD_PRC FLUC_RT TDD_OPNPRC  \
0  2021/09/29     74,100          2        -2,200   -2.88     74,800
1  2021/09/29     74,100          2        -2,200   -2.88     74,800
2  2021/09/28     76,300          2        -1,400   -1.80     77,700
3  2021/09/27     77,700          1           400    0.52     77,300
4  2021/09/24     77,300          2          -100   -0.13     77,600
5  2021/09/23     77,400          1           200    0.26     77,500
6  2021/09/17     77,200          1         1,100    1.45     76,300

  TDD_HGPRC TDD_LWPRC  ACC_TRDVOL         ACC_TRDVAL               MKTCAP  \
0    75,300    73,800  22,895,449  1,701,842,913,100  441,763,908,700,000
1    75,300    73,800  22,895,449  1,701,842,913,100  441,763,908,700,000
2    77,800    76,200  15,406,382  1,182,788,461,030  455,494,408,565,000
3    77,700    77,000  11,699,798    906,520,162,508  463,852,104,135,000
4    77,700    77,100  12,247,274    947,458,981,757  461,464,191,115,000
5    77,600    76,800  17,055,590  1,318,209,157,168  462,061,169,370,000
6    77,200    75,900  16,289,502  1,250,677,861,383  460,867,212,860,000

       LIST_SHRS
0  5,969,782,550
1  5,969,782,550
2  5,969,782,550
3  5,969,782,550
4  5,969,782,550
5  5,969,782,550
6  5,969,782,550

In [ ]:
import pickle
my_list = df2_sample
 
## Save pickle
with open("df2.pickle","wb") as fw:
    pickle.dump(my_list, fw)

In [ ]:
## Load pickle
with open("df2.pickle","rb") as fr:
    data = pickle.load(fr)
print(data)

       TRD_DD TDD_CLSPRC FLUC_TP_CD CMPPREVDD_PRC FLUC_RT TDD_OPNPRC  \
0  2021/09/28     76,300          2        -1,400   -1.80     77,700

  TDD_HGPRC TDD_LWPRC  ACC_TRDVOL         ACC_TRDVAL               MKTCAP  \
0    77,800    76,200  15,406,382  1,182,788,461,030  455,494,408,565,000

       LIST_SHRS
0  5,969,782,550

In [ ]:
###새로 업로드한 코드 저장??

In [2]:
!git clone https://github.com/baeksumin/k-project.git

fatal: destination path 'k-project' already exists and is not an empty directory.